@if (currentUser !== undefined) {

  <nav class="navbar navbar-expand-lg bg-dark shadow-sm sticky-top" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/products">Order Manager</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavContent">

        @if (currentUser; as user) {
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            @if (user.role === 'admin' || user.role === 'manager' || user.role === 'stock_person') {
              <li class="nav-item">
                <a class="nav-link" routerLink="/inventory" routerLinkActive="active">Inventário</a>
              </li>
            }
            @if (user.role === 'admin' || user.role === 'manager'){
              <li class="nav-item">
                <a class="nav-link" routerLink="/management" routerLinkActive="active">Usuários</a>
              </li>
            }
          </ul>

          <div class="navbar-nav ms-auto d-flex align-items-center mt-3 mt-lg-0">
            <span class="navbar-text me-lg-3 mb-2 mb-lg-0">Olá, {{ user.name | titlecase }}</span>
            <button class="btn btn-outline-secondary" (click)="onLogout()">Sair</button>
          </div>

        } @else {
          <div class="navbar-nav ms-auto mt-3 mt-lg-0">
            <a routerLink="/auth/login" class="btn btn-success">Entrar</a>
          </div>
        }
      </div> </div>
  </nav>

}
