<div class="auth-container">
  <div class="col-12">

    @if (currentStep > 0) {
      <div class="mb-5">
        <div class="d-flex align-items-center">

          <button type="button" class="btn rounded-pill" style="width: 40px; height: 40px;"
                  [ngClass]="{ 'btn-primary': currentStep === 1, 'btn-success': currentStep > 1 }">
            @if (currentStep > 1) {
              <i class="bi bi-check-lg"></i>
            } @else {
              <span>1</span>
            }
          </button>

          <div class="flex-grow-1 border-top border-2 mx-2"
               [ngClass]="{ 'border-success': currentStep > 1, 'border-secondary': currentStep <= 1 }">
          </div>

          <button type="button" class="btn rounded-pill" style="width: 40px; height: 40px;"
                  [ngClass]="{ 'btn-primary': currentStep === 2, 'btn-outline-secondary': currentStep < 2 }">
            <span>2</span>
          </button>

        </div>

        <div class="d-flex justify-content-between mt-2">
          <span class="fw-semibold small" [ngClass]="{ 'text-primary': currentStep === 1, 'text-success': currentStep > 1 }">Cadastro</span>
          <span class="fw-semibold small" [ngClass]="{ 'text-primary': currentStep === 2, 'text-secondary': currentStep < 2 }">Verificação</span>
        </div>
      </div>
    }

    <router-outlet></router-outlet>

  </div>
</div>
